@model Beekeeper

@{
    ViewData["Title"] = "Заявка участника";
}

<h4>Заявка участника</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" value="" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control"  value="" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expected" class="control-label"></label>
                @Html.DropDownListFor(x => x.Expected, new[]
                {
                    new SelectListItem() { Text = "Да, возьму своих пчёл", Value = Boolean.TrueString},
                    new SelectListItem() { Text = "Нет, буду без пчёл", Value = Boolean.FalseString}
                })
                <span asp-validation-for="Expected" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Create" class="btn btn-primary btn-block m-lg-1" id="create"/>
                </div>
                <div  class="form-group col-md-6">
                    <a asp-controller="Home" asp-action="Index"  class="btn btn-secondary btn-block m-lg-1">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
