﻿@{
    ViewData["Title"] = "Пчеловоды России";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Hello</h1>
    <div>
        <p>30 февраля у нас проходит конференция с приглашёнными гостями из Туркменистана.</p>
        <p>Если ты хочешь принять в ней участие, заполни форму:</p>
        <div class="btn btn-outline-success">
            <a class="app-btn" asp-area="" asp-controller="BeekeeperRequestForm" asp-action="Index">Заявка участника</a>
            
        </div>
        <div class="btn btn-outline-success">
            <a class="app-btn" asp-area="" asp-controller="SpeakerRequestForm" asp-action="Index">Заявка спикера</a>
        </div>
    </div>
</div>