@model Speaker

@{
    ViewData["Title"] = "Заявка принята";
}

    <div>
        <h1>@Model.Name, ваша заявка принята.</h1>
        <p>Накануне мы с вами дополнительно свяжемся.</p>
        @if (Model.Experience > 5) {
            @:Пчеловоды России с нетерпением ждут ваших бесценных советов.
        }
    </div>

